.menu-lista {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
}

.menu-lista li {
  text-transform: uppercase;
}

.menu-lista li a {
  color: black;
}

.header-logo {
  display: grid;
  justify-content: center;
}

.header-logo h1,
h3 {
  text-align: center;
  text-transform: uppercase;
}
.titulo-principal {
}
