.header-bg {
  background-color: var(--cor-1);
  padding: 20px 0;
}

.menu-lista {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
}

.menu-lista li {
  text-transform: uppercase;
}

.menu-lista li a {
  color: var(--cor-0);
}

.header-logo {
  display: grid;
  justify-items: center;
}

.header-logo h1,
h3 {
  text-align: center;
  text-transform: uppercase;
}

.header-logo h3 {
  padding-bottom: 40px;
}
